nav{
    /* padding: 15px;  */
    color: #F8F6E7;
    border-bottom: solid 3px #FFC202; /* Linea inferior del navbar */

}
.activo{
    border-bottom: solid 3px #FFC202;
}
.navbar{
    background-color: #F8F6E7;
    box-shadow: none;
    padding: 0.5rem 1rem;
    justify-content: space-around;
    color: #303F46; 
}
.nav-link{
    color: #303F46;
}
.nav-link:hover{
    font-weight: 600;
}

.logo {
    /* margin-right: 10px; */
    width: 48px;
    height:48px;
    object-fit: contain;
    
}
.btn{
    border-radius: 30px;
    color: #303F46;
    text-decoration: none;
}
.btn-outline-success{
    background-color: #FFC202;
    border: none;
}

/* Dropdown */
.dropdown-menu {
    background-color: #F8F6E7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
    color: #303F46;
}
.dropdown-item:hover {
    background-color: #FFC202;
    color: #303F46;
}