@import 'bootstrap'; /* hojas de estilo de bootstrap*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0%;
    margin: 0%;
    color: #303F46;
}

body{
    background-color:#F8F6E7;
    justify-content: center;
}

.boton-1{
    height: 58px;
    border: none;
    border-radius: 30px;
    background-color: #FFC202;
    width: 250px;
    font-size: 26px;
    margin-top: 4%;
}
.boton-2{
    height: 50px;
    border-radius: 30px;
    background-color:#FB6D00 ;
    width: 230px;
    border: none;
    color: #F8F6E7;
    font-size: 25px;
}
.size {
    font-size: 22px;
}
.contenedor {
    position: relative;
    width: 100%;
    /* height: 100vh; */ /* Ajusta el alto a tu gusto */
}

.contenedor img {
    width: 100%;
    height: 100%;
    position: cover;
}

.contenedor .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent; /* Ajusta el color del texto a tu gusto */
}

h1 {
    background-color: transparent;
    color: #ffff ;
    font-size: 130px;  
    letter-spacing: 10px; 
    margin-bottom: 20px;
}
.contenedor .slogan { 
    color: #ffff;
    background-color: transparent;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}


.contenedor p { 
    color: #ffff;
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 35px;
}

.contenedor-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 25px;
}
h3 {
    font-size: 50px;
    margin-bottom: 50px;
}
.contenedor-botones{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    height: 100px; 

}

.caja-borde{
    display: flex;
    box-sizing: border-box;
    border: solid #f98329 1px;
    margin: 20px;
    justify-content: space-evenly;
    padding: 20px;
    height: 200px;
    align-items: center;
    border-radius: 30px;
    margin-top: 13%;
    margin-bottom: 10%;
}
.caja-borde h2{
    font-size: 55px;
    text-align: center;

}
.boton-caja{
    align-items: center;
}

.cajatitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    padding-top: 30px;
}
.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
h2{
    font-size: 70px;
}
.nov-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.relato h3 {
    font-size: 50px;
    color:#FB6D00;
}

.centrado p {
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 50px;
}

/* ! Arreglos para el navbar*/
.btn{
    background-color: #FFC202;
    border: none;
    /* border-radius: 30; */
}
a{
    color: #303F46;
    position: top;
    text-decoration: none;
}

.centrado{
    text-align: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.borde-grid{
    display: grid;
    box-sizing: border-box;
    border: solid #f98329 1px;
    margin: auto;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    max-width: 800px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.img-nov img{
    max-width: 300px;
    margin: 20px;
    border-radius: 60px;
    max-height: 300px;
}
.seccion-mas-info{
    display: grid;
    background-color: #FB6D00;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.boton-info{
    border: solid 2px #F8F6E7;
    background-color: #FB6D00;
    border-radius: 30px;
    height: 60px;
    width: 300px;
    color: #F8F6E7;
    font-weight: 400;
    justify-content: flex-end;
    font-size: 22px;
}
.letra-blanca{
    margin-top: 30px;
    color: #F8F6E7;
    font-size: 60px;
}
.img-seccion{
    grid-row: span 2;
}
.img-seccion img{
    width: 45%;
    height: auto;
}
.div-mejorar{
    position: relative;
    width: 400px; 
    height: 300px; 
    background-image: url('../img/blobsFinalPag.png');
    background-size: cover; /* Para ajustar la imagen al contenedor */
    background-position: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.texto-mejorar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto en el contenedor */
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 200%;
    word-wrap: break-word; /* Evita que el texto haga salto de línea */
    border-radius: 5px;
}
.sobre{
    margin: 20px;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 7%;
}

/* ! Estilos del footer */
footer{
    background-color:#FFC202;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap
}

.icon-elemento {
    list-style: none;
}

.icon {
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elemento {
    list-style: none;

}

.menu-icon {
    color: #F8F6E7;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.6;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: #F8F6E7;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}


.cuadro-oculto{
    display: none;
    box-sizing: border-box;
    border: solid #f98329 1px;
    margin: 20px;
    /* justify-content: space-evenly; */
    padding: 20px;
    /* height: 200px; */
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

@media screen and (max-width: 767px){
    .contenedor{
        margin-top: 60px;
        width: 100%;
    }
    .contenedor img{
        width: 100%;
    }
    main{
        width: 100%;
        margin: 0 auto;
    }
    .div-mejorar{
        max-width: 200px;
        margin-bottom: 70px;
        margin-top: 120px;
    }
    .sobre{
        margin-bottom: 100px;
    }
    .donar{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .texto-encima{
        max-width: 400px;
    }
    .inicio h1{ 
        font-size: 4rem;
    }
    .boton-1{
        height: 40px;
        max-width: 200px;
    }
    .boton-2{
        height: 40px;
        max-width: 200px;
    }
    .boton-info{
        height: 40px;
        max-width: 200px;
    }
    .contenedor-p{
        text-align: center;
    }
    .nov-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .borde-grid{
        margin-left: 20px;
        margin-right: 20px;
    }
}