@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap'; 

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 100%; /* 16px; */
}

body {
    --preguntas-color: #fff;
    background-color: #F8F6E7;
    width: 100%;
    font-weight: 400;
}

/* !Estilos de la caja de preguntas */
.contenedor2 {
    padding: 25px;
    background-color: #F8F6E7;
    border:#F98329;
    margin: 20px;
}

.preguntas {
    background-color: var(--bg-color);
    max-width: clamp(300px, 70%, 700px);
    margin: auto;
}

.preguntas details {
    background-color: var(--preguntas-color);
    margin: 7px;
    padding: 7px;
}

summary {
    user-select: none;
}

summary::marker {
    content: '';
}

.content {
    padding: 5px 10px;
    margin: 10px;
    margin-bottom: 0px;
    border-top: 1px solid #F98329;
    font-size: .8rem;
}

details b {
    outline: none;
    background-color: #F98329;
    border: solid 2px;
    border-radius: 20px;
    padding: 2px 5px 2px 5px;
    color: #fff;
}



/* @media screen and (min-width: 768px) {
    .contenedor {
        flex-direction: row;
        width: 100%;
        background-size: 400px;
        font-size: 30px;
    }
    
} */

/* ! Arreglos para el navbar*/
.btn{
    background-color: #FFC202;
    border: none;
    /* border-radius: 30; */
}
a{
    color: #303F46;
}

/* !Estilos del titulo */
.cajatitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0;

    animation-name: left-to-right;
    animation-duration: 2s;
}
.titulo {
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.cajatitulo titulo {
    position: 0;
}

h1{
    font-size: 70px;
}

img {
    width: 50%;
    height: 50%;
    display: block;
    /* ! va a ocupar todo el espacio disponible*/
    object-fit: cover;
    object-position: center;
}

/* !Estilos de la caja */
.cajaborde{
    width: 60%;
    box-sizing: border-box;
    border: solid #F98329 1px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #bebebe;
    
}